body {
  font-family: "Momo Trust Display", sans-serif;
}

.container-flex {
  display: flex;
  justify-content: flex-start; /* Alinha horizontalmente à esquerda */
  align-items: flex-start; /* Alinha verticalmente ao topo */
  height: 300px; /* Altura de exemplo para o container */
  border: 1px solid #000; /* Apenas para visualização */
}
